{% extends 'base.html.twig' %}
{% block title %}
    Hello WeatherController!
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}  
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <form class="col-xs-12 col-md-6 offset-md-3">
                <div class="form-group">
                    <input id="ville" class="form-control" value = "{{ ville }}" aria-describedby="emailHelp" placeholder="Nom de la ville">
                    <small id="emailHelp" class="form-text text-muted">Saisissez au moins (2) deux caractères (Ville française uniquement)</small>
                </div>
            </form>
            <div class="clearfix"></div>

            {% if weather != null %}
                <div class="col-md-12 d-flex flex-row-reverse justify-content-center">
                <span class="p-2 badge badge-pill badge-light">Min:  {{ weather.daily.data[0].temperatureMin }} ˚</span>
                <span class="p-2 badge badge-pill badge-light">Max: {{ weather.daily.data[0].temperatureMax }} ˚</span>
                <span class="p-2 badge badge-pill badge-light">Humidité : {{ weather.currently.temperature }} % </span>
                </div>

                <div class="clearfix"></div>
        
                <div class="col-md-12 d-flex flex-row-reverse justify-content-center">
                <div class="badge badge-secondary text-wrap" style="width: 6rem;">
                        {{ weather.currently.temperature }} ˚
                    </div>
                </div>
                
                <div class="col-md-12 d-flex flex-row-reverse justify-content-center">
                    {{ weather.currently.summary }}                
                </div>

                <div class="clearfix"></div>

                <div class="list-group col-md-12"  style="margin-top:15px;">
                    {% for data in weather.daily.data %}
                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ wheatherService.timestampToDate(data.time) }}</h5>
                                <small>{{ data.summary }}</small>
                            </div>
                            <p class="mb-1">
                                <span class="p-2 badge badge-pill badge-light">Min:  {{ data.temperatureMin }} ˚</span>
                                <span class="p-2 badge badge-pill badge-light">Max: {{ data.temperatureMax }} ˚</span>
                                <br />
                            </p>
                        </div>
                    {% endfor %}                
                </div>
            {% endif %}
        </div>
    </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}